.date{
    background-color: #d3ebf5;
    text-align: center;
    margin-left: 300px;
    margin-bottom: 50px;
}

div.text {
    /* overflow: scroll; */
    float:left;
    /* width:1000px; */
    overflow-y: auto;
    height: 475px;
}



.all{
    background-color:#075e54;
    height: 625px;
    width: 670px;
    /* background-image: url("assets/wp.png"); */
    background: url("/assets/wp.png") no-repeat center;
    background-size: cover;
    padding: 0px;
    border-right: 5px;
}




.header{
    height: 85px;
    width: 100%;
    background-color: rgb(8, 94, 85);
  
}
.input{
    /* clip-path: polygon(0 0, 100% 0, 98% 33%, 98% 100%, 0 100%, 0 24%); */
    border-radius: 0px 0px 7px 0px; 
    border: 0px;
    height: 50px; 
    width: 440px;
    font-family: sans-serif;
    font-size: 18px;
}


.display{
    font-size: 20px; 
    width : 500px;
    height: auto;
    text-align: right;
    background-color: rgb(226, 255, 202);
    color: black;
    border-radius: 7px 0px 7px 7px; 
    clip-path: polygon(0 0, 100% 0, 98% 24%, 98% 100%, 52% 100%, 0 100%);
    padding: 5px;
    padding-right: 20px;
    float: right;
    /* position: ; */
}

.display2{
    /* position: relative; */
    font-size: 20px; 
    width : 500px;
    height: auto;
    text-align: left;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 0px 7px 7px 7px; 
    clip-path: polygon(0 0, 100% 0, 100% 24%, 100% 100%, 2% 100%, 2% 24%);
    padding: 5px;
    padding-left: 20px;
    float: left;
}


.button{
    font-size:30px; 
    cursor: pointer; 
    columns: white;
}


.text{
    padding-top: 10px;
}

.time{
    font-size: 10px;
    color: rgb(188, 215, 164);
}

.time2{
    font-size: 10px;
    color: rgb(188, 215, 164);
    float: right;
    padding-top: 15px;
}

.text{
    height: 475px;
    width: 650px;
    /* background-color: red; */
}